.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 16px;
  height: 100%;
}

label {
  margin: 8px 0;
}

.search-bar {
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-radius: 8px;
}
